.mainLogo {
  width: 75px;
}
li {
  padding-right: 20px;
  padding-left: 20px;
}

.headercontainer {
  height: 110px;
  width: 100%;
  /* background-color:antiquewhite; */
}
.homePageDiv {
  /* background-color: blue; */
  width: 100%;
  height: 400px;
}
.headercomponents {
  /* background-color: aquamarine; */
  width: 100px;
  margin: 4px 20px 20px 20px;
  height: 90px;
  text-align: center;
}

.headercomponents img {
  width: 80%;
}



.itemComponent {
  /* background-color: red; */
  height: fit-content;
  width: 100%;
  display: flex;
  text-align: center;
  padding: 20px 10px 20px 10px;
  flex-wrap: wrap;
}

.itemComponent img {
  width: 120px;
  height: 150px;
}

.itemDetails {
  padding: 20px;
}
.products {
  padding: 20px;
  border-bottom: 1px solid black;
}
/* -------------------------------------------------cart-------------------------------*/


.cartItemDiv{
  width: 70%;
  height: 500px;
  /* background-color: aqua; */
}

.cartItems{
  padding: 25px;
  width:100%;
  height:200px;
  /* background-color: brown; */
  border-bottom :1px solid black ;
}

.cartItemDetails{
  height: 75%;
  width: 90%;
  /* background-color: beige; */
  display: flex;
  padding-left: 25px;

}
.cartItemBottom{
  height: 25%;
  width: 90%;
  /* background-color: azure; */
  display: flex;
  padding-left: 100px;

}
.cartItemDescription{
  width: 90%;
  height: 90%;
  padding-left: 30px;
  padding-top: 5px;
  /* background-color: blueviolet; */
}

.cartDiv{
  display: flex;
}

.cartTotal{
  padding: 30px;
  /* background-color: aqua; */
  height: 400px;
  width: 300px;
  margin-left: 40px;
}
.priceItems{
  display: grid;
  grid-template-columns: auto auto ;
  padding: 10px;
  border-bottom: 1px solid black;
}
.pgridItems{
  margin: 10px;
}